* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --titleColor: #272727;
  --secondaryColor: #49474799;
}
body {
  font-family: "Lato", sans-serif;
}
/* header section style start from here */
.header_container {
  background-color: rgba(229, 84, 115, 0.1);
  height: 100vh;
  padding: 0px 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_title {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  line-height: 75px; /* 166.667% */
}
.header_description {
  color: var(--secondaryColor);
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0;
}
button {
  background-color: #e55473;
  padding: 12px 26px;
  border: 0;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  border: 1.5px solid #e55473;
}
button:hover {
  background-color: white;
  color: #e55473;
}
.header_img {
  margin-top: 108px;
}
/* main section style start from here */
main {
  padding: 20px 180px;
}
.featured_section {
  padding-top: 100px;
}
.featured_title {
  color: var(--titleColor);
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.featured_description {
  color: var(--secondaryColor);
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  padding: 24px 0;
}
/* flower container */
.flower_container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.flower_contend img {
  max-width: 100%;
  max-height: 90%;
  margin-top: 60px;
}
.flower_contend {
  width: 350px;
  height: 428px;
  background-color: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  border-radius: 180px 180px 0px 0px;
  box-shadow: 0.5px 0.5px 5px rgba(66, 65, 65, 0.281);
}
.second {
  background-color: rgba(5, 151, 160, 0.15);
}
.third {
  background-color: rgba(71, 125, 17, 0.15);
}
.flower_title {
  color: var(--titleColor);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 15px;
}
